body {
	margin: auto 0;
	background-color: hsl(0, 0%, 90%);
}

/*MAIN CONTAINER*/
.container {

	background-color: hsl(30, 38%, 92%);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 15px;

	height: 100vh;
	margin: 70px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

}

img {
	width: 300px;
	height: 450px;
	border-radius: 5px 0px 0px 5px;
}

/*FLOAT CONTAINERS*/
.float {
	float: right;
	background-color: white;
	width: 300px;
	height: 450px;
	border-radius: 0px 5px 5px 0px;
}

.float-content {
	margin: 35px;
	margin-top: 45px;
}

/*TEXT IN FLOAT*/

header {
	letter-spacing: 4px;
	font-size: 0.8em;
	color: hsl(228, 12%, 48%);
}

h1 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 14px;
	color: hsl(228, 12%, 48%);
	font-family: 'Fraunces', sans-serif;
}

h2, h6{
	display: inline-block;
}

h2 {
	margin-top: 10px;
	margin-right: 20px;
	font-size: 2em;
	color: hsl(158, 36%, 37%);;
}

h6 {
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
}

input {
	display: block;
	padding: 12px 80px;
	padding-right: 70px;

	border-radius: 15px;
	border: none;
	color: white;

	background-color: hsl(158, 36%, 37%);
	background-image: url("./images/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 55px 11px;
}

/*COLOUR PALLETE*/
.cyan {
	background-color: hsl(158, 36%, 37%);
}